
@{
    ViewBag.Title = "ForgetPassWord";
    Layout = "~/Views/Shared/_LogLayout.cshtml";
}

<style>
    html,body{
        height : 100%;
    }
    #main{
        height:100%;
    }
</style>
<div class="d-flex align-items-center" id="main">
    <div class="container bg-light p-5 rounded shadow">
        <h4 class="text-center mb-5">Bạn đã quên mật khẩu</h4>
        <div class="row p-0 m-0 justify-content-center">
            <form class="col-7 row m-0">
                <div class="col-8">
                    <input class="form-control" name="user-name" id="user-name" type="text" placeholder="Hãy nhập tên đăng nhập của bạn" />
                </div>
                <div class="col-4">
                    <button class="btn btn-info" id="send">Gửi yêu cầu</button>
                </div>
            </form>
            <div class="col-7 mt-4 text-center">
                <small class="text-muted">Đừng lo lắng! Hãy nhập tên đăng nhập vào bên trên, chúng tôi sẽ gửi mật khẩu thông qua email mà bạn đã đăng ký từ trước</small>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#send').click(function (e) {
                e.preventDefault();
                var user_name = $('#user-name').val();
                $.ajax({
                    url: '@Url.Action("SendPassToEmail", "User")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({user_name : user_name}),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data) {
                            alert("Đã gửi mật khẩu qua mail - Hãy kiểm tra mail của bạn");
                            window.location.href = "/Log/Login";
                        }
                        else {
                            alert("Tên đăng nhập không tồn tại - Hãy kiểm tra lại")
                        }

                    },
                    error: function (xhr) {
                        alert('Xin lỗi - Đã có lỗi xảy ra');
                    }
                });
            });
        });
    </script>    
}

