html, body {
    font-family: 'Noto Sans', sans-serif !important;
    background-color: rgba(248, 248, 255, 0.274);
}
*{
    padding: 0;
    margin: 0;
}
.page-link.page-item.active{
    color : white !important;
    background-color: cornflowerblue !important;

}
.page-link.page-item{
    font-size:20px;
}
.img_avatar {
    width: 2.5rem;
    height: 2.5rem;
}
.header{
    background-color: #7ed6df;
}
.logo{
    background-color: #7ed6df;
    border-color: #7ed6df;
    width: 4rem;
    height: 4rem;
}
.first_menu{
    background-color: #7ed6df;
    z-index: 1000;
    
}
.search_box {  

    background-color: none;
    transform: translate( -50% -50%);
}

.search_txt {
    background: none;
    transition: 1s;
    outline: none;
    border-radius: 5px;
    background-color: none;
    border: 0px black solid;
    width: 0px;
    color: white;
}

.search_btn {
    color:black;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: 0s;
    

}

.search_box:hover>.search_txt {
    
    width: 85%;
    border: 1px black solid;
}


.search_box:hover>.search_btn {
    background-color: none;
    transition: 0s;
}
.fas, .far{
    font-size: 1.5em;
    color: rgb(12, 59, 104);
}
.fa-search{
    font-size: 1.2rem !important;
    color: rgb(12, 59, 104);
}
.logoText{
    color: rgba(255, 255, 255, 0.726);
    font-weight: 700;
    font-size: larger;
}
@media only screen and (min-width: 576px){
    .menu_first
    {
        transform: translate( -50% -50%);
        transition: 4s;
    }
    .header{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 15%;
    }
}
@media only screen and (max-width: 576px){
    .menu_first
    {
        transform: translate( -50% -50%);
        transition: 1.5s;
    }
}

/* Body*/
/*left body*/
.left_body{
    height: 50rem;
}
.header_left_body
{
    position: relative;
    height: 15%;
    background-color: #7ed6df;
}
.imgbackgound_left_body{
    position: absolute;
    top: 3.7rem;
    left: 3rem;
    padding: 0px;
    margin: 0px;
    width: 8rem;  /*Cần Chỉnh lại */
    height: 8rem;
    background-color:white;
    border-radius: 50%
}
.img_left_body{
    position: absolute;
    top: 4.2rem;
    left: 3.5rem;
    padding: 0px;
    margin: 0px;
    width: 7rem;  /*Cần Chỉnh lại */
    height: 7rem;
    background-color:initial;
   
}


.icon_insert
{  
    width: 2rem;
    height: 2rem;
    justify-content: center;
    font-size: 1rem;
    color: red;
    background-color: inherit;
    border-radius: 50%;
}
.icon_insert:hover{
    background-color: #7ed6df;
   transition: 2s;
}
.img_clb{
    width: 2rem;
    height:2rem;
}
.text_clb{
    width: 100%;
    word-wrap:break-word;
    display: inline;
}

/*Center body*/
/*post_posts*/
.nav_post_posts {
    padding: 3%;
    cursor: pointer;
    border: solid 1px white;
    border-top-color: #ced9eb;
    border-top-width: 4px;
}
.btn_post_posts{
    background-color: #7ed6df ;
}
.btn_post_posts:hover{
    background-color: #3498db;

}
.nav_post_posts{
    height:min-content;
}
.btn_close{
    background-color: white ;
     border: solid 1px grey;
}
.btn_close:hover{
    background-color: #7ed6df;
}

@media only screen and (min-width: 576px){
    .btn_post_posts
    {
        margin-top: 0.4rem;
    }
    .nav_post_posts
    {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .avatar_post{
        width: 2rem;
        height: 2rem;
    }
    .avatar_post_posts{
        width: 3rem;
        height: 3rem;
    }
}
@media only screen and (max-width: 575px){
    .btn_post_posts
    {
        margin-top: 0.5rem;
    }
    .nav_post_posts{
        border: solid 1px #dfe6e9;
         border:solid 1px #dfe6e9;
        border-top-color: #7ed6df;
        border-top-width: 4px;
    }
    .avatar_post_posts{
        width: 3rem;
        height: 3rem;
    }
    .avatar_post{
        width: 2rem;
        height: 2rem;
    }
}

/*posts*/
.nav_posts {
    cursor: pointer;
    border: solid 1px #dfe6e9;
    border-top-color: #ced9eb;
    border-top-width: 2px;
}
.title-post{
    font-size:20px !important;
}
.title-post a{
    
}
.text-time{
    font-size:12px !important;
}

