* {
    margin : 0;
    padding : 0;
}
.bg-fr {
    background-color: #7ed6df;
}
.con-text{
    font-size : 14px !important;
}
.border-fr {
    border: #e3dddc 1px solid;
}
.over-text-ellipsis {
    width : 1000%;
    text-overflow: ellipsis
}