
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}
<!--Home panel-->
<div>
    <div class="row m-0 ml-3" style="cursor:pointer;">
        <div class="card catori" style="width:350px;">
            <div class="card-header row p-3 m-0">
                <div class="col-4">
                    <img src="~/assets/default/post1.png" class="w-100" />
                </div>
                <div class="col-8 text-right">
                    <div class="" style="font-size: 35px;">27</div>
                    <div>Bài viết đang chờ duyệt</div>
                </div>
            </div>
        </div>
        <div class="card catori ml-3" style="width:350px;">
            <div class="card-header row p-3 m-0">
                <div class="col-4">
                    <img src="~/assets/default/club.png" class="w-100" />
                </div>
                <div class="col-8 text-right">
                    <div class="" style="font-size: 35px;">27</div>
                    <div>CLB đang chờ duyệt</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.tabf').removeClass('active');
            var active = $('.tabf').eq(0);
            active.addClass('active');

        });
    </script>
}